.converter-wrapper {
    margin: 50px auto 0 auto;
    max-width: 500px;
    min-width: 500px;
}

.currency-label {
    margin: 3px 3px 3px 0;
    display: inline-block;
    cursor: pointer;
}

.col-amount {
    padding-right: 0;
}